body {
  /*background-image: url("images/header.png");*/
  background-image: linear-gradient(Lavender, LemonChiffon, LavenderBlush);
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin: 0;
  background-color: MistyRose;
}

div {
  /* a "div" is like a box you can put web elements in. I place paragraphs
and images in "divs" and then move them around the page. */
  padding: 15px;
  margin: 15px;
  background: MistyRose;
}

img {
  width: 100%;
  /* all images will be 100% of the div boxes they are in.*/
}

p {
  background: MistyRose;
}

h1, h2, h3 {
  font-family: 'Poetsen One';
}

ul, ol {
  list-style-position: inside;
}

#bio {
  background: background: #ff5454;
background: linear-gradient(90deg, rgba(255, 84, 84, 1) 0%, rgba(255, 143, 219, 1) 14%, rgba(255, 199, 79, 1) 27%, rgba(255, 255, 135, 1) 44%, rgba(133, 206, 118, 1) 60%, rgba(122, 224, 255, 1) 75%, rgba(135, 181, 255, 1) 88%, rgba(215, 63, 252, 1) 100%);
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-family: 'Poetsen One';
}

#bkgnd {
  position: fixed;
  /* "fixed" makes sure that the background stays in one place even if you scroll.*/
  z-index: -1;
  /* the "-1" makes sure the background images shows up behind the webpage content.*/
  width: 100%;
  /* "100%" makes the image the full width of the webpage.*/
}

.img_right {
  width: 50%;
  float: right; /* this is like when you change the alignment in word processing software.
  if you "float" to the right, then the div aligns the element to the right of the page instead of the left.*/
}

.img_left {
  width: 50%;
  float: left;
}

.text_right {
  width: 40%;
  float: right;
}

.text_left {
  width: 40%;
  float: left;
}

/* here is the css for h1 font 
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* here is code for the patrick hand font
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


