.projectrow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: DarkOrchid;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: Cornsilk ;
  color: DarkOrange;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D0F0C0;
  color: HotPink;
}

#imgleft {
  width: 40%;
  float: left;
}
#textright {
  width: 40%;
  float: right;
}
#projtop {
  width: 70% ;
}
#projbottom {
  width: 30% ;
}
#projmiddle{
  width: 50% ;
}
#pageheader {
 padding: 15px;
  margin: 20px;
  float: center;
  background: #D0F0C0;
}

#header {
  background: #FFC74F;
}
/* about divs below */

#instagram {
  float: Center;
}
#background {
  background-image: linear-gradient(Lavender, LemonChiffon, LavenderBlush);
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  padding: 0px;
  margin: 0px;
  z-index: -1;
}


body {
  /*background-image: url("images/header.png");*/
  font-family: "Patrick Hand";
  color: black;
  font-size: 17px;
  margin: 0;
  background-color: MistyRose;
}

div {
  /* a "div" is like a box you can put web elements in. I place paragraphs
and images in "divs" and then move them around the page. */
  padding: 15px;
  margin: 15px;
  background: MistyRose;
}

img {
  width: 100%;
  /* all images will be 100% of the div boxes they are in.*/
}

p {
  background: MistyRose;
}

h1 {
  font-family: 'Poetsen One';
  font-size: 40px;

}

h2 {
  font-size: 30px;
}

h3 {
  font-family: 'Poetsen One';
  font-size: 20px;
}

ul, ol {
  list-style-position: inside;
}

#pagetitle {
  background: linear-gradient(90deg, rgba(255, 84, 84, 1) 0%, rgba(255, 143, 219, 1) 14%, rgba(255, 199, 79, 1) 27%, rgba(255, 255, 135, 1) 44%, rgba(133, 206, 118, 1) 60%, rgba(122, 224, 255, 1) 75%, rgba(135, 181, 255, 1) 88%, rgba(215, 63, 252, 1) 100%);
  margin: 0px;
  padding: 10px;
  text-align: center;

#bkgnd {
  position: fixed;
  /* "fixed" makes sure that the background stays in one place even if you scroll.*/
  z-index: -1;
  /* the "-1" makes sure the background images shows up behind the webpage content.*/
  width: 100%;
  /* "100%" makes the image the full width of the webpage.*/
}

/* going to test portfolio gallery css from https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp */


/* end portfolio code */

/* here is the css for h1 font */
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* here is code for the patrick hand font */
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


